// Font
$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;
$font-weight-thin: 300;
$font-weight-base: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;

//BG
$primary-bg: #fff;
$body-bg: #f5f5f4;

//Colors
$primary-color: #3366ff;
$primary-title-color: #404040;
$primary-text-color: #9ca3af;
$secondary-text-color: #c4c4c4;
$primary-star-color: #fde68a;
$primary-desc-color: #737373;
